.footer {
  background-color: var(--background-color);
}

.footer-container {
text-align: center;
padding: 60px 15px;

@media screen and (min-width: 1200px) {
display: flex;
align-items: baseline;
text-align: left;
}
}

.footer-main-wrapper {
margin-bottom: 60px;

@media screen and (min-width: 768px) and (max-width: 1199px) {
display: flex;
align-items: baseline;
justify-content: space-between;
padding-left: 76px;
padding-right: 89px;
}
@media screen and (min-width: 1200px) {
display: flex;
align-items: baseline;
margin-bottom: 0;
}
}

.footer__address {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__address-list {
  font-style: normal;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link-address {
  color: var(--White-color);
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__social-title {
  margin-bottom: 20px;
  color: var(--White-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-item {
  margin-right: 10px;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cubik-transform);

&:hover,
&:focus {
  background-color: var(--accent-color);
}
}


.footer__icon {
  fill: var(--White-color);
  width: 20px;
  height: 20px;
}
