.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer__address {
  margin-right: 72px;
}

.footer__address-list {
  font-style: normal;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link-address {
  color: var(--White-color);
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__social {
  margin-right: 91px;
}

.footer__social-title {
  margin-bottom: 20px;

  color: var(--White-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  margin-right: 10px;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cubik-transform);

&:hover,
&:focus {
  background-color: var(--accent-color);
}
}


.footer__icon {
  fill: var(--White-color);
  width: 20px;
  height: 20px;
}
