.header {
  border-bottom: 1px solid #ececec;
  }

.header__align {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav {
  position: relative;
  display: none;

& .nav__item:not(:last-child) {
  margin-right: 50px;
}
}

.contacts {
  display: none; 
  margin-left: auto;

& + .contacts__item {
  margin-left: 50px;
}
}


.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: var(--main-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color, background-color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--time-animation);

&--current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
  transition: opacity 250ms var(--cubik-transform);

&:hover,
&:focus {
  color: var(--accent-color);
}

&:hover::after {
  opacity: 1;
}
}

.contacts__link {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cubik-transform);

&:hover,
&:focus {
  color: var(--accent-color);
}
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--main-text-color);
  transition-property: color, background-color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cubik-transform);

.contacts__link:hover &,
.contacts__link:focus & {
  fill: var(--accent-color);
}
}
}

.menu-open, .menu-close {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;

&:hover,
&:focus {
  fill: var(--accent-color);
  }
}

.menu-close {
  position: absolute;
  right: 25px;
  top: -37px;
}

.menu-mob {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  top: 0;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
}

.container {
  position: relative;
  height: 100%;
  }

.menu-mob-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-mob-link {
font-weight: 500;
font-size: 40px;
line-height: calc(47 / 40);
text-align: center;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;
}

.menu-contacts-list {
  margin-bottom: 64px;
}

.menu-contacts-item {
&:not(:last-child) {
    margin-bottom: 32px;
  } 
}

.menu-contacts-link {
font-weight: 500;
font-size: 24px;
line-height: calc(28 / 24); 
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;
}

.menu-contacts-tel-link {
font-size: 34px;
line-height: calc(40 / 34); 
}


.menu-social-list {
display: flex;
  
}

.menu-social-item {
&:not(:last-child) {
margin-right: 10px;
.menu-social-link{
border-right: 1px solid rgba(33, 33, 33, 0.2);
padding-right: 10px;
}
  } 
}

.menu-social-link {
font-weight: 500;
font-size: 18px;
line-height: 1.22px;
letter-spacing: 0.02em;
text-decoration: none;
color: #2196F3;
border-right: 1px solid rgba(33, 33, 33, 0.2);
padding-right: 10px;
}

.mob-menu-bottom {
position: absolute;
bottom: 0;
}

.menu-mob.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;
}