:root {
  --main-text: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --White-color: #ffffff;
  --logo-black: #000000;
  --background-color: #2f303a;
  --footer-contacts-link: #ffffff99;
  --projecs-list-gap: 30px;
  --time-animation: 250ms;
  --cubik-transform: cubic-bezier(0.4, 0, 0.2, 1);
  }